#dado{
    background: white;
    border-color: black;
    border-radius: 25%;
    border-style: solid;
    width: 180px;
    height: 180px;
}

#dado__grade{
    display: grid;
    grid-template-columns: 20px 50px 20px 50px 20px 50px 20px;
    grid-template-rows:  20px 50px 20px 50px 20px 50px 20px;
}

#p1 {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

#p2 {
    grid-row: 2 / 2;
    grid-column: 6 / 6;
}

#p3 {
    grid-row: 4 / 4;
    grid-column: 2 / 2;
}

#p4 {
    grid-row: 4 / 4;
    grid-column: 4 / 4;
}

#p5 {
    grid-row: 4 / 4;
    grid-column: 6 / 6;
}

#p6 {
    grid-row: 6 / 6;
    grid-column: 2 / 2;
}

#p7 {
    grid-row: 6 / 6;
    grid-column: 6 / 6;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7{
    border-radius: 100%;
    background-color: black;
}