.rodape{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 5em;
    justify-content: center;
}

.rodape__autor {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
}

.rodape__autor a, .rodape__autor a:visited{
    color: white;
    text-decoration: none;
}