.cabecalho {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: center;
}

.cabecalho a, .cabecalho a:visited{
    text-decoration: none;
    color: white;
}

.cabecalho__titulo{
    font-size: 5em;
    font-family: 'Rubik', sans-serif;
}

.cabecalho__subtitulo{
    font-size: 1.5em;
    font-family: 'Audiowide', cursive;
    color: white;
}